@model TranhSonMai.Models.tranhsonmai

@{
    ViewBag.Title = "themmoitranh";
    Layout = "~/Views/Shared/_LayoutAdmintranh.cshtml";
}


@using (Html.BeginForm("themmoitranh", "Admin", FormMethod.Post, new { @enctype="multipart/form-data"}))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Tentranhsonmai, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Tentranhsonmai)
                @Html.ValidationMessageFor(model => model.Tentranhsonmai)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GiaBan, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GiaBan)
                @Html.ValidationMessageFor(model => model.GiaBan)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MoTa, new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                <textarea name="Mota">Mô tả thông tin sách</textarea>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AnhMinhHoa, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="col-md-10">
                    <input type="file" name="fileupload"/>
                    @*Thong bao trung*@
                    @ViewBag.Thongbao

                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NgayNhap, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="date" name="Ngaynhap"/>
                @Html.ValidationMessageFor(model => model.NgayNhap)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SoLuongTon, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SoLuongTon)
                @Html.ValidationMessageFor(model => model.SoLuongTon)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaLoaitranhsonmai, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Maloaitranhsonmai")

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaNCC, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MaNCC")
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Thêm" class="btn btn-default" />
            </div>
        </div>
    </div>
}


<div>
    @Html.ActionLink("Back to List", "Index")
</div>
